/**************************/
/* BELOW 908px (Tablets) */
/**************************/

/* @media (max-width: 28.125em) { */
@media (max-width: 48em) {
  .logo {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .humburger-menu {
    display: block;
  }

  .container {
    max-width: 110rem;
    margin: 1.6rem auto;
  }

  .images-box {
    padding: 0 1.5rem;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .text-overlay {
    font-size: 2.2rem;
  }
}
